<p style="color: green"><%= notice %></p>

<h1>ユーザー一覧</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <% if user.id == current_user.id %>
      <p>
        <%= link_to "詳しく見る", user %>
      </p>
    <% end %>
    <hr>
  <% end %>
</div>