<div id="<%= dom_id task %>">
  <p>
    <strong>タイトル:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>内容:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong>ユーザー:</strong>
    <%= task.user_id %>
  </p>

</div>
