<h1>タスクを編集する</h1>
<% if current_user.id == @task.user_id%>
  <%= render "form", task: @task %>
<% else %>
    <p>アクセス権限がありません</p>
<% end %>
<br>

<div>
  <%= link_to "トップへ", welcome_index_url %> 
</div>
